@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f5f7;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    align-items: center;
  }

/* 아무 말 대잔치 */
.header {
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    display: flex;
}

/* 로그인 */
.login-wrap {
    margin-bottom: 10%;
}

.form {
    font-size: 15px;
    font-weight: 700;
}

.text {
    font-size: 12px;
    color: #FF0000;
}

/* 버튼 */
.button1 {
    width: 100%;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border-radius: 4px;
    border: none;
    background-color: #ACA0EB;
    color: #fff;
    font-size: 14px;
    margin-top: 20%;
}

.button2 {
    width: 100%;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    font-size: 14px;
    border: none;
    margin-top: 10px;
}

a {
    text-decoration-line: none;
    color: #000;
}