@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f5f7;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-items: center;
}

/* 아무 말 대잔치 */
.header {
    justify-items: center;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    flex-direction: row
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    margin-top: -45px;
}

/* 상단 둥근 프로필 이미지 */
.dropbtn .profile {
  align-items: center;
  justify-content: flex-end;
  float: right;
  align-content: center;
  left: 200px;
  bottom: 70px;
}

.dropbtn .profile img{
  width: 50px;
  height: 50px; 
  position : absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%); /* 사진 가운데로 맞추기 */
  border-radius: 70%;
}

/* 드롭다운 만들기 */
.dropdown{
    display : inline-block;
    position: relative;
    left: 420px;
    bottom: 100px;
  }
  
  .dropbtn{
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: right;
    align-content: center;
  }

  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #d9d9d9;
    min-width : 115px;
    text-align: center;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    background-color : #e9e9e9; /* 마우스 갖다 대면 색이 변한다 */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.user-info-edit {
    justify-items: center;
}

/* 프로필 사진 */
.photo {
    align-items: center;
    justify-content: center;
}

.photo img {
	width: 149px;
    height: 149px; 
    border-radius: 70%;
    color: #464646;
    opacity: 0.55;
    margin-top: 30px;
}

.photo .edit {
    position: absolute;
    width: 52px;
    height: 27px;
    text-align: center;
    top: 350px;
    left: 719px;
    background-color: #000;
    opacity: 0.35;
    color: #fff;
    border-width: 1px;
    border-radius: 25px;
    border-color: #fff;
    border-style: solid;
}

.form {
    margin-top: 80px;
}

/* 버튼 */
.button1 {
    width: 100%;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border-radius: 4px;
    border: none;
    background-color: #ACA0EB;
    color: #fff;
    font-size: 14px;
    margin-top: 20%;
}

.button2 {
    width: 100%;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    margin-top: 20px;
}

.button3 {
    width: 100%;
    height: 46px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border-radius: 30px;
    border: none;
    background-color: #ACA0EB;
    color: #fff;
    font-size: 14px;
    margin-top: 100px;
}