.bookmark-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 300px;
  }
  
  .bookmark-checked {
    width: 24px;
    height: 24px;
    background-image: url('./blue-bookmark.png');
    background-size: cover;
    background-position: center;  
  }
  
  .bookmark-unchecked {
    width: 24px;
    height: 24px;
    background-image: url('./white-bookmark.png');
    background-size: cover;
    background-position: center;   }
  