/* Styles for the startup list page */
.startup-list {
    padding: 0px 20px 20px 20px; /* 패딩을 늘려서 구분선과의 간격 조정 */
}

.startup-list h1 {
    text-align: center;
    margin-top: 80px; /* 구분선과의 간격 조정 */
    margin-bottom: 20px;
}

.bookmark-page {
    text-align: center;
    margin-top: 80px; /* 구분선과의 간격 조정 */
    margin-bottom: 20px;
}

.cards-container {
    margin-top: 70px;
  }

/* Styles for individual cards */
.card {
    width: 295px;
    height: 368px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.card-header {
    background: linear-gradient(135deg, #FFD6E7, #C4E5FF);
    padding: 90px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #E0E0E0;
    text-align: center;
}

.card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100%;
}

.card-body h2 {
    font-size: 24px;
    margin: 0;
    color: #000;
}

.card-body p {
    font-size: 16px;
    color: #595959;
    flex: 1;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
