@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f5f7;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

/* 아무 말 대잔치 */
.header {
    align-items: center;
    font-size: 32px;
    font-weight: 400;
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    display: flex;
}

/* label 스타일 조정 */
.img {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 149px;
    height: 149px;
}

label {
    cursor: pointer;
    font-size: 1em;
}


/* 프로필 사진 업로드 */
.photo img {
    width: 149px;
    height: 149px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.pt {
    text-align: left;
}

.form {
    width: 355px;
    font-size: 15px;
    font-weight: 700;
}

/* 버튼 */
#button1 {
    width: 355px;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border-radius: 4px;
    border: none;
    background-color: #7f6aee;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

a {
    text-decoration-line: none;
    color: #fff;
}

#button1:disabled {
    background-color : #acb0eb;
  }

#button2 {
    width: 355px;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    font-size: 14px;
    border: none;
    margin-top: 10px;
}