@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f5f7;
}

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

  /* 아무 말 대잔치 */
.header {
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    display: flex;
}

/* 상단 둥근 프로필 이미지 */
.profile {
  align-items: center;
  justify-content: flex-end;
  float: right;
  align-content: center;
  position: relative;
  left: 200px;
  bottom: 70px;
}

.profile img {
  width: 50px;
  height: 50px; 
  position : absolute;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%); /* 사진 가운데로 맞추기 */
  border-radius: 70%;
}

/* 드롭다운 만들기 */
.dropdown{
  display : inline-block;
  position: relative;
  left: 420px;
  bottom: 90px;
}

.dropbtn{
  width: 50px;
  height: 50px; 
  border-radius: 70%;
  overflow: hidden;
  float: right;
  align-content: center;
}

.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #d9d9d9;
  min-width : 115px;
  text-align: center;
}

.dropdown-content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.dropdown-content a:hover{
  background-color : #e9e9e9; /* 마우스 갖다 대면 색이 변한다 */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.user-info-edit {
    justify-items: center;
}

/* 내용 */
.contents {
  display: flex;
  width: 100%;
  max-width: 365px;
  justify-content: center;
  align-items: center; /* 중앙 정렬 추가 */
  flex-direction: column; /* Flex 방향을 열로 설정하여 이미지를 위에, 텍스트를 아래로 배치 */
}

.contents img {
  width: 544px;
  height: 306px;
  margin-bottom: 20px; /* 이미지 아래에 간격 추가 */
}

.contents p {
  width: 100%;
  text-align: center; /* 텍스트 중앙 정렬 */
}


/* 댓글 등록 */
#button1 {
  width: 355px;
  height: 33px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  display: flex;
  border-radius: 4px;
  border: none;
  background-color: #7f6aee;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
 }

 #button1:disabled {
  background-color: #ACA0EB;
}

 /* 수정과 삭제 버튼 */
.controlBtns #postdelete {
    width: 50px;
    height: 27px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    float: right;
    background-color: #fff;
    border-style: solid;
    border-color: #ACA0EB;
    margin: 5px;
}

.controlBtns #postmodify {
  width: 50px;
  height: 27px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  display: flex;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  float: right;
  background-color: #fff;
  border-style: solid;
  border-color: #ACA0EB;
  margin: 5px;
}

.controlBtns .cmdelete {
  width: 50px;
  height: 27px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  display: flex;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  float: right;
  background-color: #fff;
  border-style: solid;
  border-color: #ACA0EB;
  margin: 5px;
}

.controlBtns .cmmodify {
  width: 50px;
  height: 27px;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  display: flex;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  float: right;
  background-color: #fff;
  border-style: solid;
  border-color: #ACA0EB;
  margin: 5px;
}

a {
  text-decoration-line: none;
  color: #000;
}

/* 조회수와 댓글 */
.container {
    display: flex;
    height: 150px;
    justify-content: space-evenly;
  }
  
  #items {
    width: 116px;
    height: 77px;
    text-align: center;
    align-content: center;
    background: #d9d9d9;
    border-radius: 16px;
    margin: 5px; /* 컴포넌트 간의 간격 조절 */
  }

/* 댓글을 남겨주세요! */
.post .postdetail {
  margin-top: 4px;
}

.post .postdetail .datetime {
    justify-content: flex-end;
    float: right;
    display: flex;
}

/* 댓글 목록 */
.card-footer {
    padding: 10px;
    margin-top: 10px;
    text-align: left;
    justify-content: space-between;
    border-radius: 16px;
    
}

.card-footer .comment {
    margin-top: 50px;
}

/* 포스트 모달 창 */
.po_modal {
  /*팝업 배경*/
    display: none; /*평소에는 보이지 않도록*/
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background: rgba(0,0,0,0.5);
  }
  .po_modal .modal_popup {
  /*팝업*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background: #ffffff;
      border-radius: 20px;
  }
  .po_modal .modal_popup .mobt .close_btn {
      display: block;
      padding: 10px 20px;
      background-color:#242424;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.2s;
      margin: 5px;
  }
  
  .po_modal .modal_popup .mobt .yes_btn {
      display: block;
      padding: 10px 20px;
      background-color:#C4A5FA;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.2s;
      margin: 5px;
  }
  
  .po_modal .modal_popup .mobt {
    justify-content: space-evenly;
    display: flex;
  }

/* 댓글 모달 창 */
.cm_modal {
  /*팝업 배경*/
    display: none; /*평소에는 보이지 않도록*/
      position: absolute;
      top: 600px;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: rgba(0,0,0,0.5);
  }
  .cm_modal .modal_popup {
  /*팝업*/
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 20px;
      background: #ffffff;
      border-radius: 20px;
  }
  .cm_modal .modal_popup .mobt .close_btn {
      display: block;
      padding: 10px 20px;
      background-color:#242424;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.2s;
      margin: 5px;
  }
  
  .cm_modal .modal_popup .mobt .yes_btn {
      display: block;
      padding: 10px 20px;
      background-color:#C4A5FA;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.2s;
      margin: 5px;
  }
  
  .cm_modal .modal_popup .mobt {
    justify-content: space-evenly;
    display: flex;
  }