@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f5f7;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

  /* 아무 말 대잔치 */
  .header {
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    display: flex;
}

/* 상단 둥근 프로필 이미지 */
.profile {
    align-items: center;
    justify-content: flex-end;
    float: right;
    align-content: center;
    position: relative;
    left: 200px;
    bottom: 70px;
}

.profile img{
	width: 50px;
    height: 50px; 
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%); /* 사진 가운데로 맞추기 */
    border-radius: 70%;
}


.hello {
    text-align: center;
}

/* 드롭다운 만들기 */
.dropdown{
    display : inline-block;
    position: relative;
    left: 420px;
    bottom: 90px;
  }
  
  .dropbtn{
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: right;
    align-content: center;
  }

  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #d9d9d9;
    min-width : 115px;
    text-align: center;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    background-color : #e9e9e9; /* 마우스 갖다 대면 색이 변한다 */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .user-info-edit {
      justify-items: center;
  }

/* 버튼 */
.button {
    width: 138px;
    height: 39px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin-left: 480px;
    display: flex;
    border-radius: 16px;
    background-color: #ACA0EB;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration-line: none;
}

.button:hover{
    background-color : #7f6aee; /* 마우스 갖다 대면 색이 변한다 */
  }

/* 게시글 모양 */
.container {
    width: 100%;
    max-width: 592px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 좋아요, 댓글 수, 조회수 */
.container .footer {
    display: flex;
    justify-content: space-between;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.count {
    display: flex;
    justify-content: left;
    font-size: 14px;
}

/* 날짜 */
.datetime {
    display:flex;
    align-items: end;
    text-align: right;
    font-size: 14px;
}