@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
    display: flex;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f4f5f7;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

/* 비밀번호 수정 */
.pwchange-wrap {
    margin-bottom: 10%;
}

/* 아무 말 대잔치 */
.header {
    align-items: center;
    font-size: 32px;
    font-weight: 400;
}

.horizontal-rule {
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #000;
    display: flex;
}

/* 상단 둥근 프로필 이미지 */
.profile {
    align-items: center;
    justify-content: flex-end;
    float: right;
    align-content: center;
    position: relative;
    left: 200px;
    bottom: 70px;
}

.profile img{
	width: 50px;
    height: 50px; 
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%); /* 사진 가운데로 맞추기 */
    border-radius: 70%;
}

.form {
    font-size: 15px;
    font-weight: 700;
}

.text {
    font-size: 12px;
    color: #FF0000
}

/* 드롭다운 만들기 */
.dropdown{
    display : inline-block;
    position: relative;
    left: 420px;
    bottom: 90px;
  }
  
  .dropbtn{
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
    float: right;
    align-content: center;
  }

  .dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #d9d9d9;
    min-width : 115px;
    text-align: center;
  }
  
  .dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
  }
  
  .dropdown-content a:hover{
    background-color : #e9e9e9; /* 마우스 갖다 대면 색이 변한다 */
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .user-info-edit {
      justify-items: center;
  }

/* 버튼 */
#button {
    width: 100%;
    height: 33px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    display: flex;
    border-radius: 4px;
    border: none;
    background-color: #ACA0EB;
    color: #fff;
    font-size: 14px;
    margin-top: 20%;
}

.button:disabled {
    background-color: #7f6aee;
}

/* 토스트 메시지 */
#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: #ACA0EB;
    color: #fff;
    z-index: 10000;
  }
  
  #toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
  }